@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Table of Content */
/* --------------------------------------------- 1. Global Styles ------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #008248;
  --dark-green: #1e3932;
}

#sign-in,
#join-now {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #fff;
  border: #000 1px solid;
  padding: 7px 16px;
  border-radius: 2em;
  cursor: pointer;
  letter-spacing: 0.03em;
}

#join-now {
  color: #fff;
  background-color: #000;
}

/* --------------------------------------------- 2. Typography --------------------------------------------------- */
.links a,
h2 {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: #000;
}

.links a:hover {
  color: var(--green);
}

.nav-text {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  margin: auto 40px auto auto;
}

/* --------------------------------------------- 3. Layout ------------------------------------------------------- */
.container {
  width: 1440px;
  margin: auto;
}

.navbar {
  height: 101px;
}
/* --------------------------------------------- 4.1 Navbar ------------------------------------------------------ */
.navbar {
  height: 101px;
}

nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#logo {
  position: absolute;
  top: 25%;
  left: -90px;
}

.left-side,
.right-side {
  display: flex;
}

.links {
  display: flex;
  gap: 24px;
}

.right-side {
  gap: 16px;
}

.find-a-store {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.green-bar {
  background-color: var(--dark-green);
  padding: 15px;
}

.green-bar h2 {
  color: white;
}
