@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Table of Content */
/* --------------------------------------------- 1. Global Styles ------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --green: #008248;
  --dark-green: #1e3932;
  --mint: #d4e9e2;
  --light-mint: #f1f8f6;
  --steps-bg: #f3f1e7;
  --terms-bg: #f9f9f9;
}

/* --------------------------------------------- 2. Typography --------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

.links a,
h1 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: #000;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.29;
}

.links a:hover {
  color: var(--green);
}

.find-a-store a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  margin: auto 40px auto auto;
}

/* --------------------------------------------- 3. Layout ------------------------------------------------------- */
.container {
  width: 1440px;
  margin: auto;
}

.navbar {
  height: 101px;
}

.ul {
  text-decoration: underline;
}
/* --------------------------------------------- 4.1 Navbar ------------------------------------------------------ */
.sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar {
  height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left-side,
.right-side {
  display: flex;
}

.links {
  display: flex;
  gap: 24px;
  position: relative;
}

.active::before {
  content: '';
  border-bottom: 7px solid var(--green);
  position: absolute;
  z-index: -1;
  width: 77px;
  top: 55px;
}

.right-side {
  gap: 16px;
}

#logo {
  position: absolute;
  top: 25%;
  left: -90px;
}

.find-a-store {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.find-a-store:hover,
.find-a-store:hover a {
  color: var(--green);
  fill: var(--green);
}

.sign-in,
.join-now {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #fff;
  border: #000 1px solid;
  padding: 5px 16px;
  border-radius: 2em;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: 0.2s;
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: 0.2s;
}

.join-now {
  color: #fff;
  background-color: #000;
}

.join-now:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

/* --------------------------------------------- 4.2 Greenbar ---------------------------------------------------- */
.green-bar {
  display: flex;
  background-color: var(--dark-green);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 24%);
  height: 48px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.green-bar h1 {
  color: #fff;
}

/* --------------------------------------------- 4.3 Banner ------------------------------------------------------ */
.banner {
  background-color: var(--mint);
  background-image: url('../assets/banner.png');
  background-position: 50%;
  background-size: auto 100%;
  height: 810px;
  z-index: -1;
}

.banner-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.banner-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.banner-p {
  font-size: 19px;
  margin-top: 16px;
}

.banner-btn {
  margin-top: 32px;
  font-size: 16px;
  background-color: var(--green);
  border-color: var(--green);
}

.banner-btn:hover {
  background-color: rgba(0, 117, 74, 0.8);
  border-color: rgba(0, 117, 74, 0.8);
}
