@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Table of Content */
/* --------------------------------------------- 1. Global Styles ------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --green: #008248;
  --dark-green: #1e3932;
  --mint: #d4e9e2;
  --light-mint: #f1f8f6;
  --steps-bg: #f2f0eb;
  --terms-bg: #f9f9f9;
  --gold: #cba258;
  --terms-heading: rgba(0, 0, 0, 0.58);
}

/* --------------------------------------------- 2. Typography --------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--green);
}

.links a,
h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: #000;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.29;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

h4 {
  font-size: 19px;
  font-weight: 600;
}

.links a:hover {
  color: var(--green);
}

.find-a-store a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  margin: auto 40px auto auto;
}

/* --------------------------------------------- 3. Layout ------------------------------------------------------- */
.container {
  width: 1440px;
  margin: auto;
}

.thin-container {
  display: flex;
  flex-direction: column;
  width: 87%;
  text-align: center;
  margin: 127px auto;
}

.steps {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 48px auto 0 auto;
  gap: 60px;
  width: 100%;
}

.navbar {
  height: 101px;
}

.ul {
  text-decoration: underline;
}
/* --------------------------------------------- 4.1 Navbar ------------------------------------------------------ */
.sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar {
  height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left-side,
.right-side {
  display: flex;
}

.links {
  display: flex;
  gap: 24px;
  position: relative;
}

.active::before {
  content: '';
  border-bottom: 7px solid var(--green);
  position: absolute;
  z-index: -1;
  width: 77px;
  top: 55px;
}

.right-side {
  gap: 16px;
}

#logo {
  position: absolute;
  top: 25%;
  left: -90px;
}

.find-a-store {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.find-a-store:hover,
.find-a-store:hover a {
  color: var(--green);
  fill: var(--green);
}

.sign-in,
.join-now {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #fff;
  border: #000 1px solid;
  padding: 5px 16px;
  border-radius: 2em;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: 0.2s;
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: 0.2s;
}

.join-now {
  color: #fff;
  background-color: #000;
}

.join-now:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

/* --------------------------------------------- 4.2 Greenbar ---------------------------------------------------- */
.green-bar {
  display: flex;
  background-color: var(--dark-green);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 24%);
  height: 48px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.green-bar h1 {
  color: #fff;
}

/* --------------------------------------------- 4.3 Banner ------------------------------------------------------ */
.banner {
  background-color: var(--mint);
  background-image: url('../assets/banner.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 100%;
  height: 810px;
  z-index: -1;
}

.banner-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.banner-p {
  font-size: 19px;
  margin-top: 16px;
}

.banner-btn {
  margin-top: 32px;
  font-size: 16px;
  background-color: var(--green);
  border-color: var(--green);
}

.banner-btn:hover {
  background-color: rgba(0, 117, 74, 0.8);
  border-color: rgba(0, 117, 74, 0.8);
}

/* --------------------------------------------- 4.4 Getting Started --------------------------------------------- */

.steps p {
  margin-top: 16px;
}

.steps img {
  margin-bottom: 24px;
}

.step {
  max-width: 30%;
}

/* --------------------------------------------- 4.5 Favorites --------------------------------------------------- */
.up {
  background-color: var(--light-mint);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  z-index: 1;
  position: relative;
  text-align: center;
}

.up h3 {
  padding: 48px 0;
}

.up a {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  padding: 30px;
  position: relative;
}

.points {
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.up span {
  color: var(--gold);
  font-size: 12px;
  margin: auto;
}

.down {
  background-color: var(--mint);
  z-index: -1;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 70px;
}

.down h4 {
  font-size: 24px;
  padding-bottom: 16px;
}

.text {
  width: 20%;
}

.active2::before {
  content: '';
  border-bottom: 4px solid var(--green);
  position: absolute;
  width: 100px;
  left: -5px;
  top: 81px;
}

/* --------------------------------------------- 4.6 Extras ------------------------------------------------------ */
.heading-p {
  width: 60%;
  margin: auto;
  padding-top: 16px;
}

.extras a {
  display: block;
  padding: 16px;
}

/* --------------------------------------------- 4.7 Earn -------------------------------------------------------- */
.earn {
  background-color: var(--steps-bg);
  padding: 48px 0;
  margin-bottom: 128px;
}

.earn img {
  width: 112px;
  height: 158px;
}

.heading {
  text-align: center;
  margin: auto;
  width: 60%;
  padding-bottom: 64px;
  margin-bottom: 24px;
}

.heading h3 {
  padding-bottom: 16px;
}

.star {
  display: flex;
  width: 100%;
}

.img-container {
  display: flex;
  gap: 16px;
  width: 35%;
  padding: 0 24px;
}

.text-container p {
  margin-top: 16px;
}

.earn span {
  font-size: 14px;
}

.earn-heading {
  width: 18%;
}

.earn-heading h3 {
  font-size: 24px;
}

.earn hr {
  margin: 24px 0 48px 0;
  opacity: 0.3;
}

/* --------------------------------------------- 4.8 Codes ------------------------------------------------------- */

.codes {
  width: 1440px;
  margin: auto;
  text-align: left;
  margin-bottom: 128px;
}

.container-codes {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.m16 {
  margin-bottom: 16px;
}

.container-codes input {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 600;
  margin: 16px 0;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 40%);
}

.container-codes button {
  align-self: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  border: #000 1px solid;
  padding: 5px 16px;
  border-radius: 2em;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: 0.2s;
  margin: 16px 0 32px 0;
}

.container-codes button:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: 0.2s;
}

.small-text {
  font-size: 14px;
}

.margin-top {
  margin-top: 100px;
}

/* --------------------------------------------- 4.8 Terms ------------------------------------------------------- */
.terms {
  background-color: var(--terms-bg);
  padding: 48px 0;
}

.heading-terms {
  width: 1440px;
  margin: auto;
  padding-bottom: 32px;
}

h5 {
  color: var(--terms-heading);
  letter-spacing: 0.1em;
  font-size: 14px;
  padding-bottom: 16px;
}

.flex {
  display: flex;
  gap: 20px;
}

.left,
.right {
  width: 50%;
}

.footer-line {
  margin: 48px 0;
}
